.section_title {
    margin-left: 20px;
}

.dashboard_list_wrap {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 80%;
    font-family: 'muli-regular';
    .module_item {
        width: 25%;
        height: 185px;
        border-radius: 4px;
        margin: 20px;
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: relative;
        box-shadow: 0 5px 7px #00000029;
        background: #fff;
        .module_title {
            p {
                font-size: 1.3rem;
                font-weight: bold;
                margin: 10px 0 0 0;
            }
        }
        .module_content {
            font-size: 0.8rem;
        }
        a {
            position: absolute;
            width: 170px;
            height: 35px;
            color: white;
            background: #1C62F9;
            border: solid 1px #1C62F9;
            text-align: center;
            font-size: 0.8rem;
            text-decoration: none;
            line-height: 35px;
            bottom: 20px;
            font-weight: bold;
        }
    }
}