.faq_section {
    width: 80%;
    margin: 20px 0 20px 40px;
    .section_title {
        margin: 0;
    }
    .faq_input_wrap {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        .faq_content_wrap {
            flex-direction: column;    
            width: 40%;
            position: relative;
            label {
                display: inline-block;
                margin-left: 7px;
            }
            input.faq_input, textarea, .input_file_preview {
                width: 80%;
                height: 158px;
                margin: 5px 0 20px;
                padding:20px;
                resize: none;
            }
            .input_file_preview {
                border: 1px solid #DEDEDF;
                border-radius: 4px;
                img {
                    width: 60%;
                    height: 100%;
                }
            }
            .response_type_btns_wrap {
                position: absolute;
                width: 60px;
                height: 30px;
                right: 15%;
                bottom: 20px;
                display: flex;
            }
            
            input[type=file] {
                opacity: 0;
                width: 1px; height: 1px;
                position: absolute;
            }
        }
    }
    button.faq_register {
        width: 140px;
        height: 38px;
        border: #43425D solid 1px;
        background: #1C62F9;
        border-radius: 4px;
        font-size: .8rem;
        cursor: pointer;
        color: white;
        &:hover {
            transform: translateY(1px);
            box-shadow: #00196b 0px 0px 10px;
        }
    }
    .table_title {
        color: #333333DE;
        font-size: 0.8rem;
        margin: 40px 0 0;
    }
    .faq_tb {
        width: 100%;
        margin: 20px 0;
        thead > tr {
            background: #ffe8e8;
            height: 40px;
        }
        tbody > tr {
            height: 40px;
            td {
                font-weight: normal;
                border-bottom: solid 1px #E2E2E3;
                text-align: center;
                padding-bottom: 20px;
                .faq_content_wrap textarea {
                    width:100%;
                    height: 100%;
                    border: none;
                    resize: none;
                }
                .input_file_preview {
                    border: 1px solid #DEDEDF;
                    border-radius: 4px;
                    img {
                        width: 60%;
                        height: 100%;
                    }
                }
                .response_type_btns_wrap {
                    position: absolute;
                    width: 60px;
                    height: 30px;
                    right: 15%;
                    bottom: 20px;
                    display: flex;
                }
                
                input[type=file] {
                    opacity: 0;
                    width: 1px; height: 1px;
                    position: absolute;
                }
            }
            td:first-child, td:nth-child(2) {
                width: 400px;
                height: 158px;
                position: relative;
                text-align: left;
                > div, > textarea {
                    width: 88%;
                    height: 100%;
                    border: solid 1px #DEDEDF;
                    text-align: left;
                    padding: 20px;
                    box-sizing: border-box;
                    resize: none;
                    background: #fff;
                    img {
                        width: 50%;
                        height: 100%;
                    }
                }
            }
            td > img[id^=faq_img] {
                width: 30%;
            }
            td:last-child {
                width: 20%;
                div.edit_btns_wrap {
                    display: flex;
                    flex-direction: column;
                    span.icon {
                        margin: 10px 0;
                    }
                    
                }
            }
            
        }
        
    }
    .append_btn {
        position: absolute;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;
        text-align: center;
        box-shadow: 1px 1px 20px #001f86;
        border: solid 1px #003479;
        right: 40px;
        bottom: 40px;
        font-size: 20px;
        background: #1C62F9;
        color: white;
    }    
    span.icon {
        width: 18px;
        height: 18px;
        background-size: contain;
        display: block;
        margin: 0 auto;
        cursor:pointer;
    }
    .delete_icon {
        background: url('../../img/Icons/ic_delete_24px@2x.png') no-repeat;
        background-size: contain;
        position: relative;
        &::after {
            content: 'Delete';
            position: absolute;
            left: 25px;
            color: #DE1717;
            font-size: 0.8rem;
        }
    }
    .edit_icon {
        background: url('../../img/edit.png');
        position: relative;
        &::after {
            content: 'Edit';
            position: absolute;
            left: 25px;
            font-size: 0.8rem;
        }
    }
    .save_icon {
        background: url('../../img/Icons/ic_check_24px.png') no-repeat;
        position: relative;
        &::after {
            content: 'Save';
            position: absolute;
            left: 25px;
            font-size: 0.8rem;
        }
    }
    .cancle_icon {
        background: url('../../img/Icons/ic_close_24px.png') no-repeat;
        position: relative;
        &::after {
            content: 'Cancle';
            position: absolute;
            left: 25px;
            font-size: 0.8rem;
        }
    }
    .text-icon-active {
        background: url(../../img/Icons//ic_title_-1.png) no-repeat;
        background-size: contain;
    }
    .pic-icon-active {
        background: url(../../img/Icons/ic_photo_library_24px.png) no-repeat;
        background-size: contain;
    }
    .text-icon-disabled {
        background: url(../../img/Icons/ic_title_24px.png) no-repeat;
        background-size: contain;
    }
    .pic-icon-disabled {
        background: url(../../img/Icons/ic_photo_library_-1.png) no-repeat;
        background-size: contain;
    }
}
