@import "./mixin.scss";

@include mobile {

  .left_nav {
    display: none;
    background: transparent;
    position: relative;
    top: -80px;
    .current_group {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      flex: 1;
      margin: 30px 20px;
      align-items: center;
      .group_img {
        width: 42px; height: 42px;
        border-radius: 50%;
        background: rgb(187, 187, 187);
        overflow: hidden;
        img {
          width: 100%;
        }
      }
      .group_title {
        flex-grow: 1;
        margin-left: 20px;
        font-size: 14px;
        color: #333132;
        p {
          margin: 3px 0;
        }
        p:nth-child(2) {
          color: #707070;
          font-size: 12px;
        }
      }
      .arrow_down_icon {
        display: inline-block;
        width: 18px; height: 18px;
        background: url(../../img/sort-down-solid.svg) no-repeat;
        background-position: center;
        background-size: contain;
        cursor: pointer;
      }
    }
    .nav_groups {
      display: flex;
      opacity: 0;
      transition: opacity 0.3s ease-out;
      flex-direction: column;
      justify-content: flex-start;
      flex: 1;
      margin: 20px;
      align-items: flex-start;
      overflow-y: hidden;
      position: absolute;
      width: 183px;
      height: fit-content;
      left: 0;
      top: 70px;
      background: white;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 3px 6px #00000029;
      z-index: -1;
      .group_list {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 5px 0;
        cursor: pointer;
        .group_img {
          width: 32px; height: 32px;
          border-radius: 50%;
          background: rgb(187, 187, 187);
          img {
            width: 100%;
          }
        }
        .group_title {
          flex-grow: 1;
          margin-left: 20px;
          font-size: 10px;
          color: #333132;
          p {
            margin: 3px 0;
          }
          p:nth-child(2) {
            color: #707070;
            font-size: 10px;
          }
        }
      }
      &.active {
        opacity: 1;
        z-index: 100;
      }
    }
    .nav_header {
      font-size: 0.8rem;
      font-weight: bold;
      position: relative;
      margin-bottom: 10px;
      color: #333132;
      .header_logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
        img {
          width: 30px;
          height: 30px;
          margin-right: 20px;
        }
        &::after {
          content: "";
          width: 30px;
          height: 2px;
          background-color: rgb(202, 72, 32);
          position: absolute;
          bottom: -10px;
          left: 0;
        }
      }
      .header_title {
        font-style: italic;
      }
      .header_rate {
        font-size: 0.9rem;
        font-weight: normal;
        span {
          color: rgb(202, 72, 32);
          font-weight: bold;
        }
      }
      &::after {
        content: "";
        width: 100%;
        height: 2px;
        background-color: #000546;
        position: absolute;
        bottom: -20px;
        left: -20px;
      }
    }
    .nav_contents {
      display: flex;
      flex-direction: column;
      a {
        font-family: 'muli-regular';
        margin: 5px 0;
        font-size: 12px;
        padding: 15px;
        color: #333132;
        cursor: pointer;
        text-decoration: none;
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border-left: solid 5px #fff;
        &:hover {
          color: #1C62F9;
          border-left: solid 5px #1C62F9;
        }
        &.active {
          color: #1C62F9;
          border-left: solid 5px #1C62F9;
        }
        i.icon {
          width: 18px;
          height: 18px;
          font-size: 16px;
          display: inline-block;
          margin: 0 25px 0 10px;
        }
        .icon.icon-dashboard {
          background: url(../../img/bar-chart.png) no-repeat;
          background-size: contain;
        }
        .icon.icon-setting {
          background: url(../../img/cog-solid.svg) no-repeat;
          background-size: contain;
        }
        .icon.icon-modules {
          background: url(../../img/envelope-regular.svg) no-repeat;
          background-size: contain;
        }
      }
    }
    
  }
  
}

@include desktop {
  .main_container {
    display: grid;
    grid-template-columns: 250px auto;
    font-family: 'muli-regular';
  }

  .left_nav {
    width: 220px;
    background: transparent;
    text-align: left;
    position: relative;
    padding-top: 80px;
    top: -80px;
    &::after {
      content: '';
      position: fixed;
      left: 0;
      top: 0;
      width: 240px;
      height: 100%;
      display: inline-block;
      background: #fff;
      z-index: -1;
    }
    .current_group {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      flex: 1;
      margin: 30px 20px;
      align-items: center;
      .group_img {
        width: 42px; height: 42px;
        border-radius: 50%;
        background: rgb(187, 187, 187);
        overflow: hidden;
        img {
          width: 100%;
        }
      }
      .group_title {
        flex-grow: 1;
        margin-left: 20px;
        font-size: 14px;
        color: #333132;
        p {
          margin: 3px 0;
        }
        p:nth-child(2) {
          color: #707070;
          font-size: 12px;
        }
      }
      .arrow_down_icon {
        display: inline-block;
        width: 18px; height: 18px;
        background: url(../../img/sort-down-solid.svg) no-repeat;
        background-position: center;
        background-size: contain;
        cursor: pointer;
      }
    }
    .nav_groups {
      display: flex;
      opacity: 0;
      transition: opacity 0.3s ease-out;
      flex-direction: column;
      justify-content: flex-start;
      flex: 1;
      margin: 20px;
      align-items: flex-start;
      overflow-y: hidden;
      position: absolute;
      width: 183px;
      height: fit-content;
      left: 0;
      top: 70px;
      background: white;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 3px 6px #00000029;
      z-index: -1;
      .group_list {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 5px 0;
        cursor: pointer;
        .group_img {
          width: 32px; height: 32px;
          border-radius: 50%;
          background: rgb(187, 187, 187);
          img {
            width: 100%;
          }
        }
        .group_title {
          flex-grow: 1;
          margin-left: 20px;
          font-size: 10px;
          color: #333132;
          p {
            margin: 3px 0;
          }
          p:nth-child(2) {
            color: #707070;
            font-size: 10px;
          }
        }
      }
      &.active {
        opacity: 1;
        z-index: 100;
      }
    }
    .nav_header {
      font-size: 0.8rem;
      font-weight: bold;
      position: relative;
      margin-bottom: 10px;
      color: #333132;
      .header_logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
        img {
          width: 30px;
          height: 30px;
          margin-right: 20px;
        }
        &::after {
          content: "";
          width: 30px;
          height: 2px;
          background-color: rgb(202, 72, 32);
          position: absolute;
          bottom: -10px;
          left: 0;
        }
      }
      .header_title {
        font-style: italic;
      }
      .header_rate {
        font-size: 0.9rem;
        font-weight: normal;
        span {
          color: rgb(202, 72, 32);
          font-weight: bold;
        }
      }
      &::after {
        content: "";
        width: 100%;
        height: 2px;
        background-color: #000546;
        position: absolute;
        bottom: -20px;
        left: -20px;
      }
    }
    .nav_contents {
      display: flex;
      flex-direction: column;
      a {
        font-family: 'muli-regular';
        margin: 5px 0;
        font-size: 12px;
        padding: 15px;
        color: #333132;
        cursor: pointer;
        text-decoration: none;
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border-left: solid 5px #fff;
        &:hover {
          color: #1C62F9;
          border-left: solid 5px #1C62F9;
        }
        &.active {
          color: #1C62F9;
          border-left: solid 5px #1C62F9;
        }
        i.icon {
          width: 18px;
          height: 18px;
          font-size: 16px;
          display: inline-block;
          margin: 0 25px 0 10px;
        }
        .icon.icon-dashboard {
          background: url(../../img/bar-chart.png) no-repeat;
          background-size: contain;
        }
        .icon.icon-setting {
          background: url(../../img/cog-solid.svg) no-repeat;
          background-size: contain;
        }
        .icon.icon-modules {
          background: url(../../img/envelope-regular.svg) no-repeat;
          background-size: contain;
        }
      }
    }
    
  }
  
}
