.section_log {
    width: 80%;
    margin: 20px 0 20px 40px;
    .section_title {
        margin:0;
        &::before {
            content: '';
            width: 15px;
            height: 15px;
            position: absolute;
            left: -20px;
            top: 7px;
            background: url(../../img/Icons/arrow-left-solid.svg) no-repeat;
            background-size: contain;
        }
    }
    .log_tb {
        width: 100%;
        margin: 20px auto;
        border: solid 1px #E2E2E3;
        thead > tr {
            background: #F9FAFB;
            height: 40px;
        }
        tbody > tr {
            height: 40px;
            
            &:nth-child(2n) {
                background: #F9FAFB;
            }
            td {
                font-weight: normal;
                border-bottom: solid 1px #E2E2E3;
                text-align: center;
            }
            td:first-child {
                width: 3%;
                padding: 0 10px;
            }
            td > span.icon {
                width: 18px;
                height: 18px;
                background-size: contain;
                display: block;
                margin: 0 auto;
                cursor:pointer;
            }
            .delete_icon {
                background: url('../../img/delete.png');
            }
            .edit_icon {
                background: url('../../img/edit.png');
            }
            .resend_icon {
                background: url('../../img/share-option.png');
            }
        }
    }
}