@import url("https://use.typekit.net/szn0ucq.css");
@import "./mixin.scss";

@include mobile {
  html {
    scroll-behavior: smooth;
  }

  .aqoom_logo {
    width: 118px;
    img {
      width: 100%;
    }
  }
  .app_container:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    background: url(../../img/grayarea.svg) no-repeat;
    height: 1200px;
    top: 460px;
    left: 0;
    background-size: contain;
    z-index: -1;
  }
  .App-header {
    width: 90%;
    margin: 0 auto;
    height: 130px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .nav_menus {
      width: 220px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      a {
        width: 90px;
        height: 35px;
        color: #333132;
        font-size: 13px;
        text-decoration: none;
        text-align: center;
        line-height: 34px;
        font-family: "muli-bold";
      }
      a.signin_btn {
        border-radius: 18px;
        background-color: #1c62f9;
        color: white;
        box-shadow: 0 3px 6px #00000029;
      }
    }
  }
  .app_container {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    * {
      font-family: "muli-regular";
    }
    .main_contents {
      section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        h2 {
          color: #1c62f9;
          font-size: 41px;
          font-family: "futura-pt-bold";
          letter-spacing: -1.92px;
          line-height: 60px;
          margin-bottom: 0;
        }
        p {
          color: #333132;
          font-size: 14px;
        }
        a {
          color: white;
          border-radius: 18px;
          background-color: #1c62f9;
          box-shadow: 0px 3px 6px #00000029;
          width: 138px;
          height: 35px;
          line-height: 34px;
          font-size: 14px;
          display: block;
          text-decoration: none;
          text-align: center;
          font-family: "muli-bold";
        }
      }
      section.main_intro {
        padding: 0 20px;
        > div {
          width: 50%;
          p {
            width: 300px;
          }
        }
        > div.intro_img {
          text-align: center;
          img {
            display: block;
            margin: 0 auto;
          }
        }
      }
      section.main_features {
        display: block;
        .features_item {
          display: flex;
          justify-content: center;
          width: 100%;
          margin: 80px 0;
          align-items: center;
          flex-direction: column;
          > div {
            img {
              width: 90%;
              margin: 0 auto;
              display: block;
            }
            p,
            h2 {
              width: 300px;
              margin: 10px auto;
            }
          }
        }
      }
      section.main_footer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 150px;
        .footer_desc {
          p {
            color: #333132;
            font-family: "muli-bold";
            font-size: 32px;
            text-align: center;
            margin: 20px 0;
            line-height: 34px;
          }
        }
      }
    }
  }

  .footer {
    background-color: #000000;
    height: 154px;
    width: 100%;
    .footer_container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      margin: 0 auto;
      padding: 0 20px;
      .footer_left {
        .aqoom_logo {
            width: 88px;
            img {
              width: 100%;
            }
          }
        .aqoom_right {
          color: #fff;
          font-size: 11px;
        }
      }
      .footer_right {
        display: flex;
        justify-content: space-around;
        width: 300px;
        a {
          font-family: "muli-bold";
          color: #fff;
          font-size: 12px;
          text-decoration: none;
        }
      }
    }
  }
}

@include desktop {
  html {
    scroll-behavior: smooth;
  }

  .aqoom_logo {
    width: 148px;
    img {
      width: 100%;
    }
  }
  .app_container:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    background: url(../../img/grayarea.svg) no-repeat;
    height: 1200px;
    top: 460px;
    left: 0;
    background-size: contain;
    z-index: -1;
  }
  .App-header {
    width: 1100px;
    margin: 0 auto;
    height: 130px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .nav_menus {
      width: 220px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      a {
        width: 100px;
        height: 35px;
        color: #333132;
        font-size: 13px;
        text-decoration: none;
        text-align: center;
        line-height: 34px;
        font-family: "muli-bold";
      }
      a.signin_btn {
        border-radius: 18px;
        background-color: #1c62f9;
        color: white;
        box-shadow: 0 3px 6px #00000029;
      }
    }
  }
  .app_container {
    width: 1100px;
    margin: 0 auto;
    overflow: hidden;
    * {
      font-family: "muli-regular";
    }
    .main_contents {
      section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        h2 {
          color: #1c62f9;
          font-size: 54px;
          font-family: "futura-pt-bold";
          letter-spacing: -1.92px;
          line-height: 60px;
          margin-bottom: 0;
        }
        p {
          color: #333132;
          font-size: 14px;
        }
        a {
          color: white;
          border-radius: 18px;
          background-color: #1c62f9;
          box-shadow: 0px 3px 6px #00000029;
          width: 138px;
          height: 35px;
          line-height: 34px;
          font-size: 14px;
          display: block;
          text-decoration: none;
          text-align: center;
          font-family: "muli-bold";
        }
      }
      section.main_intro {
        padding: 0 80px;
        > div {
          width: 50%;
          p {
            width: 300px;
          }
        }
        > div.intro_img {
          text-align: center;
          img {
            display: block;
            margin: 0 auto;
          }
        }
      }
      section.main_features {
        display: block;
        .features_item {
          display: flex;
          justify-content: center;
          width: 100%;
          margin: 80px 0;
          align-items: center;
          > div {
            img {
              width: 90%;
              margin: 0 auto;
              display: block;
            }
            p,
            h2 {
              width: 300px;
              margin: 10px auto;
            }
          }
          > div:first-child {
            width: 50%;
            margin-right: 80px;
          }
        }
        .features_item:nth-child(3) {
          h2 {
            width: 390px;
          }
          p {
            width: 290px;
            margin: 10px 0;
          }
        }
      }
      section.main_footer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 150px;
        .footer_desc {
          p {
            color: #333132;
            font-family: "muli-bold";
            font-size: 32px;
            text-align: center;
            margin: 20px 0;
            line-height: 34px;
          }
        }
      }
    }
  }

  .footer {
    background-color: #000000;
    height: 154px;
    width: 100%;
    .footer_container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      width: 1100px;
      margin: 0 auto;
      .footer_left {
        .aqoom_right {
          color: #fff;
          font-size: 14px;
        }
      }
      .footer_right {
        display: flex;
        justify-content: space-around;
        width: 300px;
        a {
          font-family: "muli-bold";
          color: #fff;
          font-size: 14px;
          text-decoration: none;
        }
      }
    }
  }
}
